@charset "UTF-8";
@import url("reset.css");

body{ font-family:"Microsoft JhengHei"; font-size: 1em; color: #585858; word-wrap: break-word; word-break: break-all; background-color: #b1e2f5; text-align: center; }

*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; padding: 0;
}

img{ border:0; display:block; }
area{ outline:none; }
a{ text-decoration: none; color: #fff; }

#wrapper{ width: 100%; background: url(../images/bg.jpg) no-repeat; background-attachment: fixed; background-position: 50% 50%; background-size: 100% auto; }
#top{ position: fixed; right: 2%; top: 80%; z-index: 997; cursor:pointer; }
#menu{ padding: 1% 5%; }
#menu .content{ margin: auto; width: 1000px; }
#menu .L{ display: inline-block; width: 65%; text-align: left; }
#menu .R{ display: inline-block; width: 35%; margin-left: -5px; text-align: right; }
#menu-m { display: none; }
#main{ margin: auto; width: 750px; }
#footer{ margin-top: 5%; padding: 1% 5%; }

.kv{ margin: auto; width: 100%; }
.kv img{ margin: auto; }
.logo, .pro{ padding-top: 5%; }
.pro img{ width: 80%; /*border: 1px solid #000;*/ }
h1{ margin-bottom: 5%; line-height: 1.8em; }
h2{ margin: auto; margin-top: 2%; width: 90%; line-height: 1.6em; }

/*QA*/
.qa, .qa-s{ margin: 5% auto; padding: 5% 8%; width: 90%; background-color: #fff; box-shadow: 10px 10px rgba(0, 165, 187, 0.3); font-size: 1.4em; }
.qa-s{ margin-top: 0; }
.qa-p img{ margin: auto; }
.qa-question{ position: relative; margin: 6% 0 10% 0; padding: 5%; background-color: #00a5bb; color: #fff; border-radius: 15px; font-size: 1.2em; }
.qa-question:before{ content:""; position: absolute; left: 90%; bottom: -15%; width: 0; height: 0; border-style: solid; border-width: 20px 20px 0 0px; border-color: #00a5bb transparent transparent transparent; }
.qa-question p{ font-weight: bold; }
.qa-num{ position: absolute; left: 5%; top: -32px; font-size: 1.6em; text-shadow: rgb(0, 165, 187) 3px 0px 0px, rgb(0, 165, 187) 2.83487px 0.981584px 0px, rgb(0, 165, 187) 2.35766px 1.85511px 0px, rgb(0, 165, 187) 1.62091px 2.52441px 0px, rgb(0, 165, 187) 0.705713px 2.91581px 0px, rgb(0, 165, 187) -0.287171px 2.98622px 0px, rgb(0, 165, 187) -1.24844px 2.72789px 0px, rgb(0, 165, 187) -2.07227px 2.16926px 0px, rgb(0, 165, 187) -2.66798px 1.37182px 0px, rgb(0, 165, 187) -2.96998px 0.42336px 0px, rgb(0, 165, 187) -2.94502px -0.571704px 0px, rgb(0, 165, 187) -2.59586px -1.50383px 0px, rgb(0, 165, 187) -1.96093px -2.27041px 0px, rgb(0, 165, 187) -1.11013px -2.78704px 0px, rgb(0, 165, 187) -0.137119px -2.99686px 0px, rgb(0, 165, 187) 0.850987px -2.87677px 0px, rgb(0, 165, 187) 1.74541px -2.43999px 0px, rgb(0, 165, 187) 2.44769px -1.73459px 0px, rgb(0, 165, 187) 2.88051px -0.838247px 0px; }
.qa-no1{ display: flex; align-items: flex-end; margin-bottom: 5%; }
.qa-no1-L{ width: 70%; text-align: left; }
.qa-no1-L img{ display: inline-block; }
.qa-no1-R{ position: relative; width: 30%; text-align: right; font-weight: bolder; }
.qa-no1-R span{ font-size: 2.6em; }
.qa-no1-R p{ font-size: 0.6em; }
.qa-no1-R-crown{ position: absolute; top: -55px; left: 0px; }
.qa-tab{ position: relative; display: flex; align-items: center; justify-content: center; line-height: 52px; font-size: 1.2em; font-weight: bolder; cursor: pointer; }
.qa-tab p{ padding-left: 5%; }
.qa-tab i{ position: absolute; right: 0; }
.qa-category{ margin: 10% 0 5% 0; padding: 3%; border: 1px solid #00a5bb ; border-radius: 15px; color: #00a5bb; font-size: 1.2em; }
.qa-list{ display: flex; margin-bottom: 2%; padding: 2% 0; line-height: 1em; }
.qa-list-diff{ padding-bottom: 5% ; }
.qa-item{ position: relative; width: 85%; text-align: left; }
.qa-item p{ position: absolute; left: 0; top: 0; padding-right: 10px; background-color: #fff; }
.qa-item span{ font-size: 0.6em; }
.qa-item:before{ content:""; position: absolute; left: 0; top: 10px; width: 100%; border-top: 1px dashed #585858; }
.qa-score{ width: 15%; text-align: right; }
.qa-icon{ cursor: pointer; }
.qa-icon img{ width: 100%; }

/*overlay*/
.overlay { position: fixed; width: 100%; height: 0%; top: 0; left: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.7); overflow-y: auto; z-index: 998; transition: 0.5s; font-size: 1.4em; text-align: left; }
.overlay-content { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 4%; width: 40%; background-color: #fff; }
.overlay .closebtn { position: absolute; top: 4%; right: 3% ; z-index: 999; }
.overlay-peo{ display: flex; align-items: center; margin-bottom: 5%; }
.overlay-peo img{ width: 30% }
.overlay-peo p{ margin-left: 10%; }
.overlay-peo p span{ font-size: 1.8em; }
.overlay-intro{ line-height: 1.6em; text-align:justify; }
.overlay-intro li{ list-style: none; text-indent: -24px; padding-left: 5%; }
.overlay a { display: block; text-align: right; }

/*slider*/
.slider{ margin: 10% auto; width: 100%; }

/*產品*/
.solution-tit{ display: flex; justify-content: center; margin-top: 16%; font-weight: bolder; }
.solution-tit01{ position: relative; margin-top: 3%; margin-left: 5%; font-size: 5em; }
.solution-tit01:before{ content: '即刻'; position: absolute; top: -60%; left: -5%; font-size: 0.7em; transform-origin:right bottom; transform:rotate(-10deg); color: #00a5bb; }
.solution-tit02{ position: relative; width: 130px; height: 130px; border: 1px solid #f03e94; border-radius: 50%; }
.solution-tit02 p{ position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); font-size: 1.5em; line-height: 1.2em; }
.solution-pro{ width: 100%; height: 520px ; padding-top: 10%; padding-left: 40%; background: url(../images/index_01.png) no-repeat; background-size: 100% auto; font-size: 1.4em ; }
.solution-pro p{ margin-top: 3%; }
.solution-pro-item{ position: relative; margin: auto; margin-top: 10%; width: 36%; line-height: 40px; color: #fff; border-radius: 20px; background-color: #717171; }
.solution-pro-item:before{ content: ''; position: absolute; top: -50%; right: -5%; width: 51px; height: 51px ; background: url(../images/index_02.png) no-repeat; }
.solution-pro-item:nth-child(n+2){ width: 56%; background-color: #00a5bb; }
.solution-pro-item:nth-child(n+2):before{ left: -5%; background: url(../images/index_03.png) no-repeat; }
.dr{ position: relative; margin: auto; margin-bottom: 8%; padding: 6% 5% 5% 5%; width: 90%; border-radius: 15px; font-size: 1.4em ; line-height: 1.6em; background: url(../images/index_04.png) no-repeat ; background-position: 115% -10%; background-color: #fff; }
.dr:nth-child(even){ background: url(../images/index_05.png) no-repeat; background-position: 115% -10%; background-color: #fff; }
.dr-tit{ position: absolute; top: 0%; left: 50%; transform: translate(-50%, -50%);
 width: 40%; line-height: 40px; color: #fff; border-radius: 20px; background-color: #00a5bb; }
.dr p{ width: 65%; text-align: left; }

/*影片*/
.mov-tit{ margin-bottom: 5%; }

.highlight{ color: #f03e94; }
.blue{ color: #00a5bb; }
.bg-dark{ background-color: #2b2b2b; color: #fff; }

/*--------------------------animation left--------------------------*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*--------------------------animation right--------------------------*/
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*--------------------------animation top--------------------------*/
.animation-element.slide-top {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-top.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*--------------------------animation bottom--------------------------*/
.animation-element.slide-bottom {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, -100px, 0px);
  -webkit-transform: translate3d(0px, -100px, 0px);
  -o-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate3d(0px, -100px, 0px);
}

.animation-element.slide-bottom.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*-------------------mobile----------------------*/
@media only screen and (max-width:768px) {
	
	#wrapper{ width: 100%; background: url(../images/bg_m.jpg) no-repeat; background-attachment: fixed; background-position: 50% 50%; background-size: auto 100%; }
	#menu { display: none; }
	#menu-m{ display: block; }
	#main { width: 100%; }
	#footer{ padding: 5%; }

	.kv{ font-size: 0.6em; }
	.logo{ padding-top: 20%; }
	.logo img{ width: 60%; }
  .logo_brand img{ width: 40%; }
  .note{ font-size: 0.8em; }
	
	.qa, .qa-s{ font-size: 1em; }
	.qa-p img{ width: 80%; }
	.qa-num{ left: 5%; top: -27px; }
	.qa-no1-L{ width: 60%; }
	.qa-no1-L img{ width: 18%; }
	.qa-no1-R{ width: 40%;}
	.qa-no1-R span{ line-height: 1em; }
	.qa-no1-R-crown{ top: -25px; }
	.qa-no1-R-crown img{ width: 50%; }
	.qa-tab img{ width: 20%;}
	.qa-item{ width: 80%; }
	.qa-score{ width: 20%; }

	.solution-tit{ width: 90%; margin: auto; margin-top: 20%;}
	.solution-tit01{ margin-top: 8%; font-size: 2.6em; }
	.solution-tit02{ width: 90px; height: 90px;}
	.solution-tit02 p{ font-size: 1em; }
	.solution-pro{ height: 280px ; padding-top: 2%; font-size: 1em ; background-position: -10px 100%; }
	.solution-pro-item:before{ background-size: 60% auto; right: -25%; }
	.solution-pro-item:nth-child(n+2):before{ background-size: 60% auto; left: 0%; }

	.dr{ padding: 8% 5% 5% 5%; font-size: 1em; background-position: 115% bottom; background-size: 55% auto; }
	.dr:nth-child(even){ background-position: 115% bottom; background-size: 55% auto; }
	.dr-tit{ width: 50%;}
	.dr p{ width: 60%; }

	.overlay-content { top: 0%; left: 0%; transform: none; margin: auto; margin-top: 100px; width: 90%; padding: 8%; }
	.overlay .closebtn { top: 3%; right: 3% ;}
	.overlay .closebtn img{ width: 80%; display: inline-block; }
	.overlay-peo img{ width: 40% }
	.overlay-peo p{ margin-left: 5%; font-size: 0.6em; }
	.overlay-intro{ font-size: 0.8em; }
	
	.slider img{ width: 100%; }

	.mov img{ width: 100%; }
	#mov-player{ width: 100%; height: auto; }
	

	/*選單*/
	#menu-m { display: block; width: 100%; position: fixed; top: 0px; z-index: 997; }
	.toggletext { position: absolute; left: 20px; top: 10px; z-index: 999; color: #fff;}
	.toggleMenu { display: inline-block; width: 100%; height: 45px; background-color: #000; }
	.toggleMenu img { float: right; height: 40%; margin-right: 4%; margin-top: 3% }

	.nav a { height: 45px; line-height: 45px; border-bottom: 1px solid #333; color: #fff; padding-left: 10px; text-decoration: none;}
	.nav > li {background: rgba(0, 0, 0, 0.90);}
	.nav li li a,
	.nav > li > a { display: block;}
	.nav:after { clear: both;}
	.active,
	.nav ul { display: block;}
	.nav li { margin-top: -4px; margin-bottom: 4px;}
	
}